html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

.color-creator {
  display: flex;
  position: relative;
  flex-direction: column;
  border-style: dashed;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.color-creator li {
  list-style: none;
}

.box {
  background-color: hsla(130, 50%, 50%, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.underlay {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-image: url("https://www.colourbox.com/preview/9585966-abstract-square-tile-seamless-white-and-gray-texture-background-same-transparency-grid.jpg");
}
